In [4]:
import pandas as pd
import numpy as np
import os

# Data cleaning the Game Log .txt files

For this analysis and modeling, I obtained the game logs of every regular season baseball game between 1946 and 2021, courtesy of https://www.retrosheet.org/gamelogs/index.html. The information came in the form of .txt files without proper column names, so I took the following steps to read the .txt as csv's, rename the columns, save as separate csv's, and concatenate the csv's into one csv.

To rename the columns I put the column names in a CSV, used list comprehension to put the names into a list, then renamed 
the columns with the names in the list. I used the following stackoverflow article to assist me in changing multiple
column names:
https://stackoverflow.com/questions/38101009/changing-multiple-column-names-but-not-all-of-them-pandas-python

In [6]:
# Reading in the column names
retro_data_dict = pd.read_csv("../capstone/retrosheet_game_log_data_dict.csv")

In [7]:
# Using list comprehension to put the column names in a list
data_dict_list = [x for x in retro_data_dict.loc[0:, "Unnamed: 0"]]

In [8]:
# Using a for loop to remove duplicate whitespaces in the strings and putting them back into a list
# used the following stackoverflow post to assist me with this:
# https://stackoverflow.com/questions/8270092/remove-all-whitespace-in-a-string

data_dict_list_new = []
for x in data_dict_list:
    a = " ".join(x.split())
    data_dict_list_new.append(a)

In [ ]:
# I used the following article to rename multiple columns in a pandas dataframe using column names from the list created
# above:
# https://www.listendata.com/2020/09/How-to-rename-columns-in-Pandas.html

game_logs.columns = data_dict_list_new

Putting it all together, I put all of the above in a for loop below to read in all 77 .txt files, rename the columns, and save a separate csv's.

Created a list named "file" containing the names of the .txt files. This list will be used in the for loop below.

In [3]:
file = os.listdir("../capstone/game_logs_1871_2021/")

I added the "column renaming" steps above to a for loop that reads each .txt as a csv, renames the columns, and saves the csv's as separate files.

In [45]:
count = 0


for index, x in enumerate(file):
    data_dict_list_new = []
    if count < 77:
        game_log = pd.read_csv("../game_logs_1871_2021/" + file[count], encoding= 'unicode_escape')
        
        retro_data_dict = pd.read_csv("../retrosheet_game_log_data_dict.csv")
        
        data_dict_list = [x for x in retro_data_dict.loc[0:, "Unnamed: 0"]]
        
        for x in data_dict_list:
            a = " ".join(x.split())
            data_dict_list_new.append(a)
        
        game_log.columns = data_dict_list_new
        
        game_log.to_csv("../gl_csv/game_log" + str(count) + ".csv", index = False)
        
        count+=1

Created a list named "file2" containing the names of the .csv files. This list will be used in the pd.concat below to concatenate all of the csv's into one csv file.

In [54]:
file2 = os.listdir("../gl_csv/")

In [60]:
# I used the following stackoverflow post to help with an error I was getting:
# the error was "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x86 in position 23: invalid start byte"
#https://stackoverflow.com/questions/60602486/unicodedecodeerror-utf-8-cant-decode-byte

game_logs = pd.concat([pd.read_csv(x, encoding = "ISO-8859-1") for x in file2], ignore_index=True)

In [63]:
game_logs.head()

,1 Date,2 Number of game,3 Day of week,4 Visiting team,5 Visiting team league,6 Visiting team game number,7 Home team,8 Home league,9 Home team game number,10 Visiting team score,...,153 home player 21,154 home player 22,155 home player 23,156 home player 24,157 home player 25,158 home player 26,159 home player 27,160 Additional information,161 Acquisition information:,Unnamed: 0
0,19520415.0,0.0,Tue,SLA,AL,1.0,DET,AL,1.0,3.0,...,2.0,pridj101,Jerry Priddy,4.0,troud101,Dizzy Trout,1.0,NaN,Y,NaN
1,19520415.0,0.0,Tue,BOS,AL,1.0,WS1,AL,1.0,3.0,...,2.0,uptot101,Tom Upton,6.0,portb102,Bob Porterfield,1.0,NaN,Y,NaN
2,19520415.0,0.0,Tue,BRO,NL,1.0,BSN,NL,1.0,3.0,...,5.0,cusij101,Jack Cusick,6.0,spahw101,Warren Spahn,1.0,NaN,Y,NaN
3,19520415.0,0.0,Tue,CHN,NL,1.0,CIN,NL,1.0,6.0,...,2.0,mcmir101,Roy McMillan,6.0,wehmh101,Herm Wehmeier,1.0,NaN,Y,NaN
4,19520415.0,0.0,Tue,PIT,NL,1.0,SLN,NL,1.0,2.0,...,5.0,riced101,Del Rice,2.0,stalg103,Gerry Staley,1.0,NaN,Y,NaN

In [71]:
# Dropping the "Unnamed: 0" column
game_logs.drop(columns = "Unnamed: 0", inplace = True)

In [74]:
# Saving the concatenated and column relabeled csv
# game_logs.to_csv("../gl_csv/concat_game_logs.csv", index = False)